1. Key things to include: Project Overview #Stakeholder & Business QUESTIONS #Data Soucres #Links to notebooks, preentations, and dashboards

2. Additional Notes Business Problem: A clear statement of the business problem you are solving.

3. Dataset Information: A description of your dataset(s) and how you plan to use it.

4. Methods: Brief explanation of your analysis steps.

5. Results and Recommendations: What insights and recommendations are you providing to the stakeholder?

6. Links: Include links to the Jupyter notebook, dashboard, and presentation files.

Remember no code just visuals non techical

Example Template:

Project Title

Overview A concise summary of the project, including the purpose, the problem it addresses, and the key findings.
Goal of the project: Clearly state the objective. Context: Brief background or motivation for the project. Main results/insights: Summarize key outcomes or insights from your analysis.

Repository Structure (Probably should go at the bottom Provide an outline of the repository, explaining what each folder and file contains. üìÅ /data # Contains raw and cleaned datasets üìÅ /notebooks # Jupyter Notebooks or code scripts used in analysis üìÅ /scripts # Python or other scripts for data cleaning and modeling üìÅ /images # Graphs, figures, Tableau dashboard files üìÑ README.md # Documentation of the project üìÑ requirements.txt # Packages and dependencies needed to run the code üìÑ presentation.pdf # Final presentation slides
/data: A brief description of the datasets used, including sources. /notebooks: Notebooks detailing data exploration, cleaning, analysis, and modeling. /scripts: Python scripts for automating tasks like data processing. /images: Contains final visuals, plots, or links to Tableau dashboards.

Data Science Steps Outline the key steps taken during the project:
Data Collection: How data was sourced (e.g., APIs, web scraping, public datasets). Data Cleaning: Techniques used for cleaning and preprocessing data (e.g., handling missing values). Exploratory Data Analysis (EDA): Summary of insights found during the EDA phase. Modeling: Brief overview of the models used and their performance. Results: Main findings from the analysis or predictive models.

Instructions for Use Guide users on how to navigate the repository, including how to replicate the project on their local machine: (git clone link)

Tableau Dashboard Include a link to the Tableau dashboard:

Tableau Dashboard
6. Presentation Provide a link to the final project presentation:

Sources
List any references or external data sources used: Data Source 1(Kaggle)

Commit History Provide an overview of the commit history to demonstrate project development and collaboration. Link to the repository‚Äôs commit history for detailed tracking:
View commit history


1. Stakeholder Questions:
- What regions and times have the highest frequency of UFO sightings?
- Are there notable patterns in UFO shapes, descriptions, or lengths of encounters?
- Can any correlations be drawn between the timing (season, time of day) and the likelihood of a sighting?
((- Is there a potential for identifying anomalies or "false positives" in the sighting reports?))
2. Business Problem: Provide clear and engaging data visualizations that help stakeholders (researchers, enthusiasts, or possibly governmental entities) understand trends in UFO sightings, aiding decision-making for further research or public communication.

In [11]:
#Import
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors

In [13]:
df = pd.read_csv('/Users/jeesoojhun/Documents/Flatiron/Phase-1-Project/data/ufo_data/ufo-sightings-transformed.csv', index_col='Unnamed: 0')

In [14]:
df.head(5)

,Date_time,date_documented,Year,Month,Hour,Season,Country_Code,Country,Region,Locale,latitude,longitude,UFO_shape,length_of_encounter_seconds,Encounter_Duration,Description
0,1949-10-10 20:30:00,4/27/2004,1949,10,20,Autumn,USA,United States,Texas,San Marcos,29.883056,-97.941111,Cylinder,2700.0,45 minutes,This event took place in early fall around 194...
1,1949-10-10 21:00:00,12/16/2005,1949,10,21,Autumn,USA,United States,Texas,Bexar County,29.384210,-98.581082,Light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...
2,1955-10-10 17:00:00,1/21/2008,1955,10,17,Autumn,GBR,United Kingdom,England,Chester,53.200000,-2.916667,Circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...
3,1956-10-10 21:00:00,1/17/2004,1956,10,21,Autumn,USA,United States,Texas,Edna,28.978333,-96.645833,Circle,20.0,1/2 hour,My older brother and twin sister were leaving ...
4,1960-10-10 20:00:00,1/22/2004,1960,10,20,Autumn,USA,United States,Hawaii,Kaneohe,21.418056,-157.803611,Light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 80328 entries, 0 to 80327
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date_time                    80328 non-null  object
 1   date_documented              80328 non-null  object
 2   Year                         80328 non-null  int64
 3   Month                        80328 non-null  int64
 4   Hour                         80328 non-null  int64
 5   Season                       80328 non-null  object
 6   Country_Code                 80069 non-null  object
 7   Country                      80069 non-null  object
 8   Region                       79762 non-null  object
 9   Locale                       79871 non-null  object
 10  latitude                     80328 non-null  float64
 11  longitude                    80328 non-null  float64
 12  UFO_shape                    78398 non-null  object
 13  length_of_encounter_seconds  80328 non-null  float64
 14  Encounter_Duration           80328 non-null  object
 15  Description                  80313 non-null  object
dtypes: float64(3), int64(3), object(10)
memory usage: 10.4+ MB

In [16]:
df.isnull().sum()

Date_time                         0
date_documented                   0
Year                              0
Month                             0
Hour                              0
Season                            0
Country_Code                    259
Country                         259
Region                          566
Locale                          457
latitude                          0
longitude                         0
UFO_shape                      1930
length_of_encounter_seconds       0
Encounter_Duration                0
Description                      15
dtype: int64

# Data Cleaning

**Time Standardization**

In [17]:
#Standardize Dates and Times
#Convert Date_time to datetime format
df['Date_time'] = pd.to_datetime(df['Date_time'], errors='coerce')
df.head()

,Date_time,date_documented,Year,Month,Hour,Season,Country_Code,Country,Region,Locale,latitude,longitude,UFO_shape,length_of_encounter_seconds,Encounter_Duration,Description
0,1949-10-10 20:30:00,4/27/2004,1949,10,20,Autumn,USA,United States,Texas,San Marcos,29.883056,-97.941111,Cylinder,2700.0,45 minutes,This event took place in early fall around 194...
1,1949-10-10 21:00:00,12/16/2005,1949,10,21,Autumn,USA,United States,Texas,Bexar County,29.384210,-98.581082,Light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...
2,1955-10-10 17:00:00,1/21/2008,1955,10,17,Autumn,GBR,United Kingdom,England,Chester,53.200000,-2.916667,Circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...
3,1956-10-10 21:00:00,1/17/2004,1956,10,21,Autumn,USA,United States,Texas,Edna,28.978333,-96.645833,Circle,20.0,1/2 hour,My older brother and twin sister were leaving ...
4,1960-10-10 20:00:00,1/22/2004,1960,10,20,Autumn,USA,United States,Hawaii,Kaneohe,21.418056,-157.803611,Light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...

In [18]:
#Standardize the date_documented column
df['date_documented'] = pd.to_datetime(df['date_documented'], errors='coerce')
df.head()

,Date_time,date_documented,Year,Month,Hour,Season,Country_Code,Country,Region,Locale,latitude,longitude,UFO_shape,length_of_encounter_seconds,Encounter_Duration,Description
0,1949-10-10 20:30:00,2004-04-27,1949,10,20,Autumn,USA,United States,Texas,San Marcos,29.883056,-97.941111,Cylinder,2700.0,45 minutes,This event took place in early fall around 194...
1,1949-10-10 21:00:00,2005-12-16,1949,10,21,Autumn,USA,United States,Texas,Bexar County,29.384210,-98.581082,Light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...
2,1955-10-10 17:00:00,2008-01-21,1955,10,17,Autumn,GBR,United Kingdom,England,Chester,53.200000,-2.916667,Circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...
3,1956-10-10 21:00:00,2004-01-17,1956,10,21,Autumn,USA,United States,Texas,Edna,28.978333,-96.645833,Circle,20.0,1/2 hour,My older brother and twin sister were leaving ...
4,1960-10-10 20:00:00,2004-01-22,1960,10,20,Autumn,USA,United States,Hawaii,Kaneohe,21.418056,-157.803611,Light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...

In [21]:
#Standardize Year, Month, Hour and Season Column 
#Year, Month, and Hour : are they derived accurately from Date_time?
#Season: grouping months into seasons
df['Year'] = df['Date_time'].dt.year
df['Month'] = df['Date_time'].dt.month
df['Hour'] = df['Date_time'].dt.hour

#Seasons
df['Season'] = df['Month'].apply(lambda x: 'Winter' if x in [12, 1, 2] else 'Spring' if x in [3, 4, 5] else 'Summer' if x in [6, 7, 8] else 'Autumn')

df.head()

,Date_time,date_documented,Year,Month,Hour,Season,Country_Code,Country,Region,Locale,latitude,longitude,UFO_shape,length_of_encounter_seconds,Encounter_Duration,Description
0,1949-10-10 20:30:00,2004-04-27,1949,10,20,Autumn,USA,United States,Texas,San Marcos,29.883056,-97.941111,Cylinder,2700.0,45 minutes,This event took place in early fall around 194...
1,1949-10-10 21:00:00,2005-12-16,1949,10,21,Autumn,USA,United States,Texas,Bexar County,29.384210,-98.581082,Light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...
2,1955-10-10 17:00:00,2008-01-21,1955,10,17,Autumn,GBR,United Kingdom,England,Chester,53.200000,-2.916667,Circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...
3,1956-10-10 21:00:00,2004-01-17,1956,10,21,Autumn,USA,United States,Texas,Edna,28.978333,-96.645833,Circle,20.0,1/2 hour,My older brother and twin sister were leaving ...
4,1960-10-10 20:00:00,2004-01-22,1960,10,20,Autumn,USA,United States,Hawaii,Kaneohe,21.418056,-157.803611,Light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...

In [26]:
#Standardize the length of encounter seconds column
# Convert 'length_of_encounter_seconds' to numeric, forcing errors to NaN
df['length_of_encounter_seconds'] = pd.to_numeric(df['length_of_encounter_seconds'], errors='coerce')

# Remove outliers (e.g., encounters longer than a day)
df = df[df['length_of_encounter_seconds'] <= 86400]  # 86400 seconds = 24 hours

# Verify changes
df['length_of_encounter_seconds'].describe()

count    80149.000000
mean       927.394452
std       3428.872201
min          0.001000
25%         30.000000
50%        180.000000
75%        600.000000
max      86400.000000
Name: length_of_encounter_seconds, dtype: float64

In [27]:
# Display unique values to understand various formats in 'Encounter_Duration'
df['Encounter_Duration'].unique()[:20]  # Display first 20 unique values to analyze different formats

array(['45 minutes', '1-2 hrs', '20 seconds', '1/2 hour', '15 minutes',
       '5 minutes', 'about 3 mins', '20 minutes', '3  minutes',
       'several minutes', '5 min.', '3 minutes', '30 min.', '30 seconds',
       '20minutes', '2 minutes', '20-30 min', '20 sec.', 'one hour?',
       '5-6 minutes'], dtype=object)

In [ ]:
#Unify the units into seconds and convert to numeric in Encounter_Duration column

**Handling Geographical Data**

In [22]:
#Standardize Country Codes and Names.
#Ensure that the country codes and Country values are consistent.
df['Country_Code']=df['Country_Code'].str.upper().str.strip()
df['Country'] = df['Country'].str.title().str.strip()

df['Country_Code'].unique()

array(['USA', 'GBR', 'BMU', 'CAN', 'NZL', 'RUS', 'AUS', 'LTU', 'NOR',
       'ISL', 'MEX', 'AUT', 'JPN', 'VNM', nan, 'TUR', 'BEL', 'CHN', 'PER',
       'GRC', 'IRQ', 'MYS', 'ARM', 'FRA', 'CHL', 'IDN', 'IND', 'THA',
       'HUN', 'DEU', 'ESP', 'PHL', 'VEN', 'PAK', 'IRN', 'AFG', 'MAR',
       'TWN', 'SAU', 'ZAF', 'HRV', 'COL', 'ISR', 'EGY', 'PRI', 'POL',
       'SRB', 'IRL', 'PAN', 'CRI', 'KOR', 'HND', 'SWE', 'ITA', 'NLD',
       'DOM', 'MKD', 'ARG', 'CYP', 'NAM', 'BGD', 'JAM', 'SYR', 'ARE',
       'GRL', 'KWT', 'ROU', 'UKR', 'BGR', 'SVK', 'TUN', 'DZA', 'TTO',
       'FIN', 'CS-KM', 'LBN', 'LBY', 'MDG', 'LKA', 'BIH', 'LVA', 'SUR',
       'GTM', 'UZB', 'GHA', 'BRA', 'NPL', 'BOL', 'PRT', 'QAT', 'JOR',
       'MMR', 'SVN', 'DNK', 'LUX', 'BRN', 'MLT', 'CUB', 'ZWE', 'AZE',
       'FJI', 'SLB', 'PRY', 'EST', 'OMN', 'LSO', 'NGA', 'CHE', 'KEN',
       'HTI', 'GUY', 'BLR', 'CZE', 'BLZ', 'ECU', 'SLV', 'TZA', 'ZMB',
       'KHM', 'AGO', 'ETH', 'CMR', 'TLS', 'ALB', 'SEN', 'BHS', 'BWA',
       'URY', 'GEO', 'UGA', 'GAB', 'KAZ', 'PNG', 'COD', 'MNG', 'LAO'],
      dtype=object)

In [23]:
# Ensure latitude and longitude are within valid ranges
df = df[(df['latitude'] >= -90) & (df['latitude'] <= 90)]
df = df[(df['longitude'] >= -180) & (df['longitude'] <= 180)]

# Verify the changes
df[['latitude', 'longitude']].describe()

           latitude     longitude
count  80328.000000  80328.000000
mean      38.124963    -86.772015
std       10.469146     39.697805
min      -82.862752   -176.658056
25%       34.134722   -112.073333
50%       39.412500    -87.903611
75%       42.788333    -78.755000
max       72.700000    178.441900

In [24]:
#Replace country values with longitudes and latitudes using geopanda or geopy

In [28]:
pip install geopy

Collecting geopy
  Downloading geopy-2.4.1-py3-none-any.whl.metadata (6.8 kB)
Collecting geographiclib<3,>=1.52 (from geopy)
  Downloading geographiclib-2.0-py3-none-any.whl.metadata (1.4 kB)
Downloading geopy-2.4.1-py3-none-any.whl (125 kB)
Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.4.1
Note: you may need to restart the kernel to use updated packages.

In [35]:
#Decide to just drop the rows with missing values in the Country column
# Drop rows with missing values in 'Country_Code', 'Country', 'Region', 'Locale', and 'UFO_shape'
df.dropna(subset=['Country_Code', 'Country', 'Region', 'Locale', 'UFO_shape'], inplace=True)
print(df)

                Date_time date_documented  Year  Month  Hour  Season  \
0     1949-10-10 20:30:00      2004-04-27  1949     10    20  Autumn
1     1949-10-10 21:00:00      2005-12-16  1949     10    21  Autumn
2     1955-10-10 17:00:00      2008-01-21  1955     10    17  Autumn
3     1956-10-10 21:00:00      2004-01-17  1956     10    21  Autumn
4     1960-10-10 20:00:00      2004-01-22  1960     10    20  Autumn
...                   ...             ...   ...    ...   ...     ...
80323 2013-09-09 21:15:00      2013-09-30  2013      9    21  Autumn
80324 2013-09-09 22:00:00      2013-09-30  2013      9    22  Autumn
80325 2013-09-09 22:00:00      2013-09-30  2013      9    22  Autumn
80326 2013-09-09 22:20:00      2013-09-30  2013      9    22  Autumn
80327 2013-09-09 23:00:00      2013-09-30  2013      9    23  Autumn

      Country_Code         Country      Region        Locale   latitude  \
0              USA   United States       Texas    San Marcos  29.883056
1              USA   United States       Texas  Bexar County  29.384210
2              GBR  United Kingdom     England       Chester  53.200000
3              USA   United States       Texas          Edna  28.978333
4              USA   United States      Hawaii       Kaneohe  21.418056
...            ...             ...         ...           ...        ...
80323          USA   United States   Tennessee     Nashville  36.165833
80324          USA   United States       Idaho         Boise  43.613611
80325          USA   United States  California    Napa Abajo  38.297222
80326          USA   United States    Virginia        Vienna  38.901111
80327          USA   United States    Oklahoma        Edmond  35.652778

        longitude UFO_shape  length_of_encounter_seconds Encounter_Duration  \
0      -97.941111  Cylinder                       2700.0         45 minutes
1      -98.581082     Light                       7200.0            1-2 hrs
2       -2.916667    Circle                         20.0         20 seconds
3      -96.645833    Circle                         20.0           1/2 hour
4     -157.803611     Light                        900.0         15 minutes
...           ...       ...                          ...                ...
80323  -86.784444     Light                        600.0         10 minutes
80324 -116.202500    Circle                       1200.0         20 minutes
80325 -122.284444     Other                       1200.0               hour
80326  -77.265556    Circle                          5.0          5 seconds
80327  -97.477778     Cigar                       1020.0         17 minutes

                                             Description
0      This event took place in early fall around 194...
1      1949 Lackland AFB&#44 TX.  Lights racing acros...
2      Green/Orange circular disc over Chester&#44 En...
3      My older brother and twin sister were leaving ...
4      AS a Marine 1st Lt. flying an FJ4B fighter/att...
...                                                  ...
80323  Round from the distance/slowly changing colors...
80324  Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...
80325                                       Napa UFO&#44
80326  Saw a five gold lit cicular craft moving fastl...
80327  2 witnesses 2  miles apart&#44 Red &amp; White...

[77518 rows x 16 columns]

In [37]:
# Verify changes to ensure rows with missing values in the specified columns are dropped
print(df[['Country_Code', 'Country', 'Region', 'Locale', 'UFO_shape']].isnull().sum())

Country_Code    0
Country         0
Region          0
Locale          0
UFO_shape       0
dtype: int64

In [38]:
#Replace missing values in UFO_shape with 'Unknown'

In [ ]:
# Standardize the UFO shape
# Convert 'UFO_shape' to lowercase for consistency
df['UFO_shape'] = df['UFO_shape'].str.lower().str.strip()

# Map similar shapes to a single standardized shape
shape_mapping = {
    'circle': 'circular',
    'light': 'light',
    'cylinder': 'cylinder',
    # Add more mappings as needed
}
df['UFO_shape'] = df['UFO_shape'].map(shape_mapping).fillna(df['UFO_shape'])

# Verify changes
df['UFO_shape'].unique()